[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Game:update
[[patches]]
[patches.pattern]
target = 'game.lua'
position = 'before'
pattern = '''if self.STATE == self.STATES.PLAY_TAROT then'''
payload = '''
if self.STATE == self.STATES.ENC_EVENT then
  self:update_enc_event(dt)
end
'''
match_indent = true

# G.FUNCS.use_card: hide event
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
position = 'before'
pattern = '''if G.shop and not G.shop.alignment.offset.py then'''
payload = '''
if G.TheEncounter_event then
    if G.GAME.PACK_INTERRUPT or (G.TheEncounter_event.ability.hide_on_tarot and G.TAROT_INTERRUPT) then
        G.TheEncounter_event:hide_panel("use_card")
    end
end
'''
match_indent = true

# G.FUNCS.use_card: show event
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
position = 'before'
pattern = '''if area and area.cards[1] then'''
payload = '''
if G.TheEncounter_event then
    G.TheEncounter_event:show_panel("use_card")
end
'''
match_indent = true
